/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

ul.navbar-nav li:hover {
    background-color: #aecce9;
}
/* .footer
        {
            bottom: 0;
            position: absolute;
            width: 100%;
            height: 50px;
        } */
.header {
    min-height: 84px;
}
body {
    height: 100vh;
}